#quiz-page {

}

#highscores-page {
    display: none;
}

#time-left-text {
  padding: 0.5rem 0.5rem;
}

#quiz-page-body {
  width: 60%;
  margin: 128px 20%;
  background-color: gray;
}

#quiz-page-body-countdown {
  display: none;
}

#quiz-page-body-quiz {
  display: none;
}

@media only screen and (max-width: 600px) {

  #quiz-page-body {
    width: 100%;
    margin: 128px 0;
  }

}