#highscores-page {
    display: none;
}

#time-left-text {
  padding: 0.5rem 0.5rem;
}

#quiz-page-body {
  width: 60%;
  margin: 128px 20%;
}

#highscores-page-body {
  width: 60%;
  margin: 64px 20%;
}

#quiz-page-body-countdown {
  display: none;
}

#quiz-page-body-quiz {
  display: none;
}

#score-enter-initials {
  display: none;
}

#answer-feedback {
  visibility: hidden;
}

#initials-input {
  width: 48px;
}

#initials-warning {
  display: none;
  color: red;
}

@media only screen and (max-width: 600px) {

  #quiz-page-body {
    width: 100%;
    margin: 128px 0;
  }

  #highscores-page-body {
    width: 100%;
    margin: 64px 0;
  }

}